<div class="pure-g">
  <div class="pure-u-1-6">
    <div class="image-container">
      <div class="image">
        <img src="/assets/images/person.png" alt="no photo available" class="w100px" />
        {{link-to "Return to teachers" "teachers.index" classNames="link-tos"}}
      </div>
    </div>
  </div>
  <div class="pure-u-1-8">
    <h2 class="form-header">{{model.fullName}}</h2>
    {{partial "teachers/form"}}
  </div>
</div>
