<div class="pure-g">
  <div class="pure-u-1-6">
    <div class="image-container">
      <div class="image">
        <img src="/assets/images/person.png" alt="no photo available" class="w100px" />
      </div>
    </div>
  </div>
  <div class="pure-u-1-8">
    <h2 class="form-header">New Teacher</h2>
    {{partial "teachers/form"}}
  </div>
</div>
