<div class="image-container">
  <div class="image">
    <img src="//style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="no photo available" class="w100px" />
    {{link-to "Return to classrooms" "classrooms.index" classNames="link-tos"}}
  </div>
</div>
<div class="data">
  <h2 class="form-header">{{model.name}}</h2>
  {{partial "classrooms/form"}}
</div>
