<div class="image-container">
  <div class="image">
    <img src="assets/images/person.png" alt="no photo available" class="w100px" />
    {{link-to "Return to schools" "schools.index" classNames="link-tos"}}
  </div>
</div>
<div class="data">
  <h2 class="form-header">{{model.name}}</h2>
  {{partial "schools/form"}}
</div>
