<div class="image-container">
  <div class="image">
    <img src="/assets/images/person.png" alt="no photo available" class="w100px" />
    {{link-to "Return to students" "students.index" classNames="link-tos"}}
  </div>
</div>
<h2 class="form-header">{{model.fullName}}</h2>
{{partial "students/form"}}
